*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    width: 100%;
    color: #BDAAB2;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;    
}
.black{
    color:black;
}
.container{
    padding: 5rem  ; 

}
.m-top{
    margin-top: 5rem;
}
li{
    list-style: none;
}
/*left-box*/

.left-box{
    position: fixed;
    float: left;
    width: 29%;
    background-color: #FFFFFF;
   
    
}

.left-a1 {
    display: inline-block;
    font-size: 3.4rem;
    text-decoration: none;
    margin-bottom: 2.5rem;

}
.hr1{
    width: 8rem;
    color:#D6BDAA;
   
}
.l-text{
    font-size: 1.3rem;
    padding: 2.5rem 0;
}
.left-box ul{ 
    padding: 2.5rem 0;

}
.left-box li{
    margin: 0.2rem 0;


}
.left-box li a{
    text-decoration: none;
    color: #BDAAB2;
    font-size: 1.3rem;
    transition: color 0.5s;
}
.left-box li a:hover{
    color: black;
}
.l-end{
    padding: 2.5rem 0;
}
.l-icon a{
    text-decoration: none;
    color: #BDAAB2;
    transition: color 0.5s;
}
.l-icon a:hover{
    color: black;
}
.l-icon a i{
    margin: 0.5rem;
    font-size: 2rem;

}

.l-end p{
    word-spacing: .3rem;
    margin: 1rem 0; 
    font-size: 1.2rem;
}

.l-end p a{
    transition: color 0.5s;
    text-decoration: none;
    color: #BDAAB2;
}
.l-end p a:hover{
    color: black;
}
/*right-box*/

.right-box{
   
    width: 71%;
    float: right;
    background-color: #F0F0F0;
}
.r-box{
    width: 100%;
    border-radius: 1rem;
    background-color: #FFFFFF;

}

.bg-p{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height:23rem;  
    
} 
.bg-p1{
    background-image: url("img/p1.jpg");
    background-position: center;
    background-size: cover;

}
.bg-p2{
    background-image: url("img/p2.jpg");
    background-position: center;
    background-size: cover;
}
.bg-p3{
    background-image: url("img/p3.jpg");
    background-position: center;
    background-size: cover;
}
.bg-p4{
    background-image: url("img/p4.jpg");
    background-position: center;
    background-size: cover;
}
.bg-p5{
    background-image: url("img/p5.jpg");
    background-position: center;
    background-size: cover;
}
.bg-p:hover{
    opacity: 0.8;
}

.text-body{
    padding: 3rem;
    font-size: 1.5rem;
}

.text-body p{
    word-spacing: 0.2rem;
  
}
.text-body p a{
    color:black;
    transition: color 0.5s;
    
}
.h1-l{
    text-decoration: none;
    color:black;
    transition: color 0.5s;
}
.h1-l:hover{
    color: #BDAAB2;
}
.text-body p a:hover{
    color: #BDAAB2;
}
.time-type{
    margin-top: 2rem;
    font-size: 1.1rem;
    word-spacing: .3rem;
}
.time-type a{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}
.time-type a:hover{
    color: #BDAAB2;
}
.bttn{
    word-spacing: 0.2rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    background-color: #888888;
    color: white;
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    border-radius: .7rem;
}

.bttn:hover{
    background-color: #333333;
}
@media screen and (max-width:1200px){
    html{
        font-size: 9px;
    }

}

@media screen and (max-width:768px){
    html{
        font-size: 9px;
    }

    .container{
        padding: 2rem;
    }
    .left-box{
        float: none;
        text-align: center;
        display: block;
        width: 100%; 
        position: static;  
    }
    .left-a1{
        margin:0;
    }
    .l-text{
        padding: 0;
    }
    .left-box ul{
        padding: 1rem 0;
    }
    .left-box ul li {
        padding: .8rem;
        display: inline-block;

    }
    .l-end{
        margin: 0;
        padding: 0;
    }
    .l-end a{
        padding: .5rem;
    }
    .l-end p{
        display: none;
    }
    .hr1{
        display: none;
    }
    .h1-l{
        font-size: 1.3rem;
    }
    .right-box{
        
        width: 100%;
        float: none;
        display: block;

    }
    .text-body{
        line-height: 1.3;
    }
}
